.vscode
*__pycache__/
*.jpnyb_checkpoints
*.jpnyb_checkpoints*
**-checkpoint.ipynb**
*.npy
!Dataset/*.npy
*.pdf
*.png
DataGeneration/**/tqtec
DataGeneration/**/rdtqtec
DataGeneration/**/ftage.f90

DataGeneration/**/Plotting*
DataGeneration/**/.ipynb_checkpoints/**
